.navbar {
  
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(255,255,255,0.9);
  
}

.subtleTransparent {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: rgba(255,255,255,0.9);
}

.shadowRainbow:before {
  
  border-radius: 15px;
}

.background-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background-image: url('https://github.com/cyberneel/cyberneel-nextjs/raw/master/public/IMG_0609.webp');
  mask-image: radial-gradient(
    circle at var(--mask-x) var(--mask-y),
    rgba(0, 0, 0, 0.375) 50px, /* center */
    rgba(0, 0, 0, 0.25) 100px, /* mid */
    rgba(0, 0, 0, 0.05) 150px   /* outer */
  );
  -webkit-mask-image: radial-gradient(
    circle at var(--mask-x) var(--mask-y),
    rgba(0, 0, 0, 0.375) 50px,
    rgba(0, 0, 0, 0.25) 100px,
    rgba(0, 0, 0, 0.05) 150px
  );
  z-index: -1;
  mask-size: cover;
  -webkit-mask-size: cover;
}

footer {
  min-height: 30vh;
}